{% extends 'base.html' %} {% block content %} {% if user.is_approved %}
<h1>가입 대기 회원 리스트</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>이메일</th>
      <th>상태</th>
      <th>이름</th>
      <th>가입 일시</th>
      <th>거절 일시</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{% if user.is_rejected %} 거절 {% else %} 대기 {% endif %}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.date_joined }}</td>
      <td>
        {% if user.date_rejected %} {{user.date_rejected}} {% else %} -
        {%endif%}
      </td>
      <td>
        <a href="{% url 'accountapp:standby_user_detail' user.pk %}">상세</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">가입 대기 중인 회원이 없습니다.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h1>[[ 가입 대기 ]]</h1>
<h3>관리자의 승인이 필요합니다.</h3>
{% endif %} {% endblock %}
