<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
        <li><a href="{% url 'accounts:signin' %}">Sign in</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:standby_user_list' %}">User List</a></li>
        <li>
          <a
            href="{% url 'accounts:signout' %}"
            onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
            >Sign out</a
          >
        </li>
        <form
          id="logout-form"
          action="{% url 'accounts:signout' %}"
          method="post"
          style="display: none"
        >
          {% csrf_token %}
        </form>
        {% endif %}
      </ul>
    </nav>

    {% block content %} {% endblock %}
  </body>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
    integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
    crossorigin="anonymous"
  ></script>
</html>
